#townEditor {
	display: flex;
	gap: 20px;
}

#locationSelection {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

#locationSelection h3 {
	opacity: 0.5;
	width: 100%;
}

#locationList {
	margin-bottom: 10px;
	max-height: calc(100vh - 240px);
	min-width: 200px;
}

@media screen and (max-width: 1260px) {
	#townEditor {
		flex-wrap: wrap;
	}
}