#portalEditor {
	border-left: solid 1px var(--panel-border);
	border-top: solid 1px var(--panel-border);
	display: flex;
	padding: 10px 20px;
}

#portalEditor > div:last-child {
	margin: 6px 0 0 20px;
}

#portalSelection {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	padding-right: 20px;
}

#portalSelection h3 {
	opacity: 0.5;
	width: 100%;
}

#portalList {
	margin-bottom: 10px;
	max-height: calc(100vh - 240px);
	min-width: 200px;
}

#portalPanel {
	align-items: flex-start;
	border-left: solid 1px var(--panel-border);
	display: flex;
	padding-left: 20px;
}

#portalPanel #destinationSelection h4 {
	opacity: 0.5;
	width: 100%;
}

#portalPanel .addList {
	background-color: rgba(255, 255, 255, 0.1);
	border: solid 1px var(--panel-border);
	border-radius: 4px;
	color: #e0e0e0;
	margin-bottom: 4px;
	min-height: 1em;
	overflow-x: hidden;
	overflow-y: auto;
	width: 160px;
}

#portalPanel .addList  > div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-left: 4px;
  	user-select: none;
	white-space: nowrap;
}

#portalPanel .addList > div > button {
	height: 1.25em;
	overflow: hidden;
	padding: 0;
	min-width: 1.25em;
	width: 1.25em;
}

#portalPanel .addList > div > button:before {
	content: 'x';
	position: relative;
	top: -2px;
}

#portalPanel .addList > div > div {
	overflow: hidden;
}

#portalPanel #destinationSelection .formGroup {
	padding-left: 2px;
}

#portalPanel #destinationSelection .formGroup select {
	flex-grow: 1;
}

#portalPanel #destinationSelection .formGroup button {
	padding: 1px 4px;
}

#portalPanel #portalForm {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
	justify-content: space-between;
	padding-left: 20px;
	padding-top: 10px;
}

#portalPanel #portalForm .textBox {
	flex-grow: 1;
}

#portalPanel #portalForm textarea {
	border-radius: 4px;
	height: 4.5em;
	resize: none;
	width: 100%;
}

#portalPanel #portalCoords {
	align-items: flex-start;
	border: solid 1px var(--panel-border);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	position: relative;
	top: -6px;
}

#portalPanel #portalCoords > div {
	align-items: center;
	display: flex;
	gap: 10px;
}

#portalPanel #portalCoords > div:last-child {
	justify-content: center;
	width: 100%;
}

#portalPanel #portalCoords > div .formGroup {
	width: 100px;
}

#portalPanel #portalCoords > div .formGroup input {
	width: 100%;
}

#portalPanel #portalCoords > label {
	background: linear-gradient(transparent 0%, 25%, var(--panel-background) 10%);
	color: rgba(255, 255, 255, 0.5);
	font-weight: bold;
	padding: 0 4px;
	position: absolute;
	top: -0.75em;
}

#portalPanel #portalCoords #portalHelp {
	height: 1.1rem;
	width: 1.1rem;
}

#portalPanel #portalCoords #portalHelp::before {
	content: '?';
	font-size: 0.75rem;
	font-weight: bold;
	left: -3px;
	position: relative;
	top: -2px;
}