#editor {
	min-width: 1000px;
	width: calc(100% - 80px);
}

#editor h2 {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 16px;
}

#editor h2 select {
	background-color: var(--panel-inset);
	border-color: var(--panel-inset);
	border-radius: 0.333em;
	color: white;
	font-size: 1em;
	padding: 0 0 0 0.25em;
}