:root {
  --admin-background: #e0f0ff;
  --admin-color: #0040ff;
  --developer-background: #f0ffe0;
  --developer-color: #307820;
  --error-background: #ffc0c0;
  --error-color: #ff4000;
  --panel-background: #26272a;
  --panel-border: #101418;
  --panel-inset: #18191c;
  --item-active: #4080c0;
  --item-border: black;
}

#root {
  align-items: stretch;
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

button {
  background-color: #e0e0e0;
  border-radius: 4px;
  user-select: none;
}

button, input[type='checkbox'] {
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

button:hover {
  background-color: white;
}

code {
  background-color: var(--panel-inset);
  border-radius: 2px;
  padding: 0 8px;
}

h1, h2, h3, h4, h5, label {
  margin: 0;
  padding: 0;
  user-select: none;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

h1::before {
	background-image: url('./assets/images/RPTP.png');
	background-size: cover;
	content: '';
	display: inline-block;
	position: relative;
	height: 1.25em;
	left: -0.2em;
	top: 0.2em;
	width: 1.25em;
}

header {
  display: flex;
  flex-direction: column;
}

header > div {
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.35);
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

header > div > button {
  position: relative;
  top: 4px;
}

header h1 {
  flex-grow: 1;
  margin-top: 0;
}

input[readonly] {
  background-color: gray;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  padding: 0 10px 20px 10px;
}

p {
  margin: 0;
  padding: 0;
}

p + p, p + code, code + p {
  margin-top: 10px;
}

section {
  background-color: var(--panel-background);
  border: solid 2px var(--panel-border);
  border-radius: 8px;
  padding: 10px 20px;
}

.adminButton:not([disabled]) {
  color: var(--admin-color);
}

.adminButton:hover {
  background-color: var(--admin-background);
  border-color: var(--admin-color);
}

.deleteButton {
  height: 1.5em;
  width: 1.5em;
}

.deleteButton:not([disabled]) {
  color: var(--error-color);
}

.deleteButton:hover {
  background-color: var(--error-background);
  border-color: var(--error-color);
}

.deleteButton::before {
  content: 'X';
  position: relative;
  left: -2px;
}

.devButton:not([disabled]) {
  color: var(--developer-color);
}

.devButton:hover {
  background-color: var(--developer-background);
  border-color: var(--developer-color);
}

.formGroup {
  align-items: center;
  display: flex;
  gap: 8px;
}

.formGroup > input[type='checkbox'] + label {
  cursor: pointer;
  left: -10px;
  margin-right: -10px;
  padding-left: 8px;
  position: relative;
}

.formGroup > label {
  white-space: nowrap;
}

.invalid {
  border-color: var(--error-color);
  color: var(--error-color);
}

.selectionList {
	background-color: white;
	border-radius: 4px;
	color: black;
  max-width: 400px;
	min-height: 1em;
	min-width: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 20vw;
}

.selectionList  > div {
	cursor: pointer;
	padding: 0 4px;
  user-select: none;
	white-space: nowrap;
}

.selectionList > div:hover {
  background-color: #e0e0e0;
  font-weight: bold;
}

.selectionList  > div.active {
	background-color: var(--item-active);
	color: white;
  font-weight: bold;
  pointer-events: none;
}

#spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1060px) {
	main {
		align-items: flex-start;
	}
}