:root {
  --error-color: #ffc0c0;
  --panel-background: #26272a;
  --panel-border: #101418;
  --panel-inset: #18191c;
  --item-active: #4080c0;
  --item-border: black;
}

#root {
  align-items: stretch;
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

button {
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

header {
  display: flex;
}

header > div {
  margin: 10px 10px 0 0;
}

header h1 {
  flex-grow: 1;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  padding-bottom: 20px;
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 10px;
}

section {
  background-color: var(--panel-background);
  border: solid 2px var(--panel-border);
  border-radius: 8px;
  padding: 10px 20px;
}

.selectionList {
	background-color: white;
	border-radius: 4px;
	color: black;
	min-height: 1em;
	min-width: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px 0;
	width: 20vw;
}

.selectionList  > div {
	cursor: pointer;
	padding: 0 4px;
	white-space: nowrap;
}

.selectionList > div:hover {
  background-color: silver;
}

.selectionList  > div.active {
	background-color: var(--item-active);
	color: white;
  font-weight: bold;
  pointer-events: none;
}

@media screen and (max-width: 440px) {
	button, select {
    height: 32px;
    padding: 4px 8px;
  }
}